<ion-content [fullscreen]="true">
  <ion-searchbar animated placeholder="Buscar"></ion-searchbar>

  <!-- List of Sliding Items -->
<ion-list>
  <div *ngFor="let sw of Lugares;">
    <ion-item-sliding>
      <ion-item>
        <ion-label>
          <h2><b>{{sw.sitio}}</b></h2>
            <h3>{{sw.tiposSitio}}</h3>
            <p>Latitud:<b>{{sw.latitud}}</b> / Longitud:<b>{{sw.longitud}}</b></p>
        </ion-label>

        <ion-item style="width: 125px;">
          <input type="file" [(ngModel)]="imatge" (change)="selectedFile($event, sw.idLoc)" />
        </ion-item>
     
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option  class="button-assertive icon ion-trash-a" (click)="showModificar(sw)">INFO</ion-item-option>
        <ion-item-option color="danger" (click)="delete(sw.idLoc)">
          <ion-icon slot="icon-only" name="trash" ></ion-icon>
        </ion-item-option>
        
      </ion-item-options>
    </ion-item-sliding>
  </div>
</ion-list>

<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button (click)="showAlert()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>


</ion-content>

