<!-- <ion-content>
  <ion-slides pager="true">
    <ion-slide class="slide-1">
      <div class="buscar">
        
          <h1>Encuentra!</h1>
          <h5>Encuentra todo los lugares que quieras!</h5>
        
        
      </div>
      
    </ion-slide>
    <ion-slide class="slide-2">
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide class="slide-3">
      <div>
        <h1>Slide 3</h1>
        <div>
          <ion-button class="boton" expand="block" routerLink="/tabs/tab1"><b>COMENÇAR</b></ion-button>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content> -->
<ion-content fullscreen class="ion-padding" scroll-y="false" >
  <ion-slides class="slide"  style="background-image: url('assets/img/bcn.png') ;background-attachment: fixed;background-repeat: no-repeat; background-position-y: bottom; ">

    <ion-slide >
      
      <img src="assets/img/lupa.png"/>
      <h2><b>ENCUENTRA</b></h2>
      <p>Encuentra tanto <b>museos, cines e incluso paradas</b> ubicados en Barcelona y accede a su información.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/mapa.png"/>
      <h2><b>DE UN LUGAR A OTRO</b></h2>
      <p>Encuentra la mejor ruta <b>desde tu ubicación a otra seleccionada</b> y disfruta del viaje.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/lista.png"/>
      <h2><b>¿NO LO ENCUENTRAS?</b> </h2>
      <p>Si no encuentras una ubicación <b>introduce tu mismo la información</b> para poder acceder en cualquier momento.</p>
      <ion-button class="boton" fill="clear" routerLink="/tabs/tab1"> <b>EMPEZAR</b>  <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>
